<% if @work.errors.any? %>
<div class = "error-reason"> 
  <ul class ="error-reason-message">
    <% @work.errors.each do |column, message| %>
      <li>
        <%= column %>: <%= message %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>