<main>
<h2>List of Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user|  %>
      <tr>
        <td><%= link_to "#{user.name}", user_path(user.id)%></td>
        <td><%= user.votes.count %></td>
        <td><%= readable_date(user.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a class="btn btn-secondary" href="/">Back to Media List</a>
</main>
