/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

// Body 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}

main {
  padding: 2rem;
}

// Header
.app-header__header {
  max-width: 100%;
  background-color: #B2DFDB;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
}

.app-header__header h1 {
  text-align: center;
  margin: 25px auto 40px auto;
}

.app-header__header h1 a {
  color: #FF5722;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white 2px solid;
}

.app-header__header h1 small {
  color: white;
}

// Header - nav
.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.app-header__site-nav-container .app-header__nav_item {
  margin-right: 2rem;
}

.app-header__nav_item .nav-link {
  color: #00796B;
}

.app-header__user-nav-container .nav-item {
  margin-left: 2rem;
}

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

// Typography
a, h2, h3 {
  color: #26A69A;
}


h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
// Error

.alert__container {
  margin: 2rem 0 1rem 0;
}

.alert {
  margin: 0;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.error {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

// Table

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.works-votes__container {
  margin-top: 2rem;
}

.works-votes__header {
  color: black;
}

.user-votes__container {
  margin-top: 2rem;
}

.user-votes__header {
  color: black;
}

.spotlight {
  padding: 0 2rem 2rem 2rem;
}

.spotlight__header {
  color: #26A69A;
}

.spotlight__description {
  margin-bottom: 0;
}

.root__hr {
  margin: 0px auto 3rem auto;
  color: #EEEEEE;
}

.spotlight__header--prefix {
  color: #424242;
}

.spotlight__link-to {
  border-bottom: 2px solid;
}

.top-ten__header {
  color: #26A69A;
  border-bottom: 2px solid;
      border-bottom-color: currentcolor;
  border-bottom-color: #B2DFDB;
}

.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.top-ten__list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.list-group-item {
  border: none;
}

.top-ten__creator {
  color: slategrey;
}

